<footer>
    <div class="container">
        <ul id="social-media" class="nav navbar-nav navbar-left">
            <li><a href="https://www.facebook.com/South-Asian-Millennials-Conference-at-Columbia-University-1666548910271381/" target="_blank" class="facebook">Facebook</a></li>
            <!--<li><a href="https://twitter.com/" target="_blank" class="twitter">Twitter</a></li>-->
            <li><a href="https://www.instagram.com/samc_2016/" target="_blank" class="instagram">Instagram</a></li>
        </ul>
        <ul id="copyright" class="nav navbar-right">
            <li><p>&copy; {{ site.time | date: "%Y" }} South Asian Millennials Conference</p></li>
        </ul>
    </div>
</footer>
