<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if page.endpoint == 'index' %}
    <title>SAMC</title>
    {% else %}
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% endif %}
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="9JBQ2QLNBMYRSNmdx4QH0losbD4UpGEKtlDRGi0P238" />
    <link rel="shortcut icon" href="{{ site.imgurl }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.imgurl }}/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
</head>
