html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font: $base-font;
    background-color: #fff;
}

#body-container {
    position:relative;
    height:auto;
    min-height:100%;
}

main {
    padding-bottom: $footer-height;
}
