header {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    height: 88px;
    line-height: 88px;

    #logo {
        padding: 0;
        height: inherit;
        line-height: inherit;
    }

    .container > .navbar-header {
        margin: 0;
    }

    .navbar-toggle {
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        margin: 27px 0;
    }

    ul {
        text-align: right;
    }

    .nav > li {
        display: inline-block;

         a {
            height: inherit;
            line-height: inherit;
            padding: 0 15px;
        }

        &:last-child {
            padding-right: 0px;
        }
    }
}

.shrink {
    height: 50px;
    line-height: 50px;

    .navbar-toggle {
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        margin: 8px 0;
    }
}
