header {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    height: $header-height;
    line-height: $header-height;

    .navbar-default {
        background-color: white;
        opacity: 0.9;
        border-color: #e1e1e1;

        .navbar-toggle {
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            margin: 27px 0;
            background-color: #e1e1e1;

            &:focus {
                outline: none
            }
        }

        .collapsed {
            background-color: transparent;
        }
    }

    #logo {
        position: relative;

        img {
            max-height: $header-height;
            position: absolute;
        }

        img#logo-white {
            display: none;
            transition: max-height 0.3s ease-in-out, opacity 0.3s step-end;
            -webkit-transition: max-height 0.3s ease-in-out, opacity 0.3s step-end;
            -moz-transition: max-height 0.3s ease-in-out, opacity 0.3s step-end;
        }

        img#logo-reg {
            transition: max-height 0.3s ease-in-out, visibility 0.3s step-end, opacity 0.3s step-end;
            -webkit-transition: max-height 0.3s ease-in-out, visibility 0.3s step-end, opacity 0.3s step-end;
            -moz-transition: max-height 0.3s ease-in-out, visibility 0.3s step-end, opacity 0.3s step-end;

        }
    }

    .container > .navbar-header {
        margin: 0;
    }

    ul {
        text-align: right;
    }

    .nav > li {
        display: inline-block;

         a {
            height: inherit;
            line-height: inherit;
            padding: 0 15px;
            color: #000;

            @media(max-width: $screen-xs) {
                padding: 0 8px;
            }
        }

        &:last-child {
            padding-right: 0px;
        }
    }

    .menu-span {
        position: absolute;
        bottom: -1px;
        height: 2px;
        z-index: 10;
        width: 100%;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;

    }

    #about-bar,
    #sponsors {
        background-color: #197F71;
    }

    #register,
    #samc2016 {
        background-color: #E7623B;
    }

    #schedule,
    #contact {
        background-color: #601F4D;
    }

    .nav>li>a:hover,
    .nav>li>a:focus {
        background-color: transparent;
        opacity: 0.8;
    }

    .active-link > span,
    .nav > li:hover > span,
    .nav > li:focus > span {
        visibility: visible;
        opacity: 1;
    }
}

#shrink {
    height: $header-height-sm;
    line-height: $header-height-sm;

    .navbar-default {
        background-color: white;
        opacity: 0.9;
        border-color: #e1e1e1;
    }

    #logo > img {
        max-height: $header-height-sm;

        &#logo-white {
            opacity: 0;
        }

        &#logo-reg {
            visibility: visible;
            opacity: 1;
        }
    }

    .navbar-toggle {
        margin: 8px 0;
    }

    .nav > li > a {
        color: #000;
    }

    #about-bar,
    #sponsors {
        background-color: #197F71;
    }

    #register,
    #samc2016 {
        background-color: #E7623B;
    }

    #schedule,
    #contact {
        background-color: #601F4D;
    }
    
    .nav > li > a:hover,
    .nav > li > a:focus {
        opacity: 0.8;
    }

    .nav > li:hover > span,
    .nav > li:focus > span {
        visibility: visible;
        opacity: 1;
    }
}

.index-header {
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
        transition: background-color 0.4s ease-in-out;
        -webkit-transition: background-color 0.4s ease-in-out;
        -moz-transition: background-color 0.4s ease-in-out;
    }

    #logo {
        img#logo-white {
            display: block;
        }
        img#logo-reg {
            visibility: hidden;
            opacity: 0;
        }
    }
    .nav > li > a {
        color: #fff;
    }

    .nav > li > a:hover,
    .nav > li > a:focus {
        opacity: 0.8;
    }

    #about-bar,
    #register,
    #schedule,
    #sponsors,
    #samc2016,
    #contact {
        background-color: white;
    }
}
