#endpoint-samc-2016 {
    img {
        width: 100%;
        margin: 0 auto;
        display: block;
        max-width: 817px;
        max-height: 520px;
    }

    h1 {
        text-align: center;
    }

    ul {
        max-width: 800px;
        margin: auto;

        &.slick-dots {
            max-width: 100%;
            padding-bottom: 5px;
        }
    }

    li {
        color: #6B6969;

        strong {
            color: #000;
        }
    }

    .slider {
        max-width: 817px;
        margin: 0 auto;

        @media(max-width: $screen-xs) {
            max-width: 80%;
        }
    }
}
