// Base Font
$base-font: normal 14px "Century Gothic", AppleGothic, "Helvetica Neue", sans-serif;


// Footer
$header-height: 88px;
$header-height-sm: 50px;

// Footer
$footer-height: 65px;
$footer-color-bg: #808080;
$footer-color-fg: #fff;
